<%= simple_nested_form_for @clinic, :html => { :class => 'form-horizontal' } do |f| %>

	<%= f.input( 
		:practitioner_id, 
		:as => :select, 
		:collection => current_user.account.practitioners, 
		:label_method => :fullname, 
		:input_html => { :class => "span2" } 
	)%>
	<%= f.input :venue_id, :as => :select, :collection => current_user.account.venues, :input_html => { :class => "span2 form-horizontal" } %>
	<%= f.input :effective_from, :as => :date, :input_html => { :class => "span2 form-horizontal" } %>
	<%= f.input :day_of_week, :as => :select, :collection => Clinic::DAYS.invert, :input_html => { :class => "span2 form-horizontal" }  %>

	<legend>Slots</legend>
    <%= f.simple_fields_for :slots, html: { class: 'form-inline' } do |s| %>
      <fieldset>
      	<div class="form-inline">
        <%= s.input_field :start_time, :required => false, :as => :string, input_html: { class: "span1" }, html_wrapper: 'bootstrapchild' %>
        <%= s.input_field :duration, :required => false, :as => :string, input_html: { class: "span1" }, html_wrapper: 'bootstrapchild' %>
        <%= s.link_to_remove "Delete", :class => "btn btn-danger btn-mini" %>
        </div>
        
      </fieldset>
    <% end %>

    <%= f.button :submit %>
<% end %>
