<p id="notice"><%= notice %></p>

<p>
  <b>Clinics:</b>
  <%= @slot.clinics %>
</p>

<p>
  <b>Start time:</b>
  <%= @slot.start_time %>
</p>


<%= link_to 'Edit', edit_slot_path(@slot) %> |
<%= link_to 'Back', slots_path %>
