<p id="notice"><%= notice %></p>

<p>
  <b>Episode:</b>
  <%= @message.episode %>
</p>

<p>
  <b>Template:</b>
  <%= @message.template %>
</p>

<p>
  <b>Message type:</b>
  <%= @message.message_type %>
</p>

<p>
  <b>User:</b>
  <%= @message.user %>
</p>

<p>
  <b>Completed:</b>
  <%= @message.completed %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
