<%= simple_form_for(@template) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :account %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :filename %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
