<div class="form-actions">
	<% case controller.action_name %>
	<% when 'show' %>
	  <%= link_to t('.back', :default => t("helpers.links.back")),
              allocation_type_path, :class => 'btn'  %>
	  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_allocation_type_path(@allocation_type), :class => 'btn' %>
	  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              allocation_type_path(@allocation_type),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
	<% when 'edit', 'new' %>
    <%= f.button :submit, (controller.action_name == 'edit' ? "Update" : "Create"), :class => 'btn' %>
	  <%= link_to t('.back', :default => t("helpers.links.back")), 
              allocation_type_path, :class => 'btn'  %>
	  
	<% end %>
    
</div>
