<thead>
  <th colspan=2>Event</th>
  <th>Allocated to/referrer</th>
  <th>Date/time</th>
  <th>Status/outcome</th>
  <th>Actions</th></th>
</thead>
<td width=2%></td>
<td>Allocated for <%= allocation.description %></td>
<td><%= allocation.practitioner.fullname %></td>
<td><%= allocation.created_at.strftime("%d/%m/%Y") %></td>
<td></td>
<td>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_allocation_path(allocation), :class => 'btn btn-mini span1' if allocation.appointments.count == 0 %>
</td>
<td>
  <%= link_to t('.delete', :default => t("helpers.links.delete")),
              allocation_path(allocation),
              :method => :delete,
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-mini btn-danger span1' if current_user.admin? && allocation.appointments.count == 0 %>
</td>
<%= render :collection => allocation.appointments, :partial => 'appointment' %>
