<tr>
<% if current_user.account.file_no_per_episode %>
  <td></td>
<% end %>
<td colspan="2"><%= allocation.created_at.strftime("%d/%m/%Y") %> 
Allocated 
<% unless allocation.practitioner.nil? %>
to <%= allocation.practitioner.initials %> 
<% end %>
	for <%= allocation.description %></td>
<td colspan=2>
	<% if 
		allocation == latestallocation and
		allocation.defaultappointmentcount > 0 
	%> 
	  <%= link_to(
		  	"<i class=\"icon-time\"></i>&nbsp;Book&nbsp;appt".html_safe,
  		  new_appointment_path(:allocation_id => allocation),
    		:class => 'btn btn-mini'
	    )
		%>
	<% end %>
</td>
<td>
  <%= link_to(
	  	"<i class=\"icon-remove-circle\"></i> Delete".html_safe,
    	allocation_path(allocation),
  	  :method => :delete,
	    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
    	:class => 'btn btn-mini btn-danger'
    ) if current_user.admin? && allocation.appointments.count == 0 
  %>
</td>
</tr>
<%= render :collection => allocation.appointments, :partial => 'appointment', :locals => { :lastappointment => allocation.appointments.last } %>
