<%- model_class = Client -%>
<div class="page-header">
	<h1>My clients <small>referrals allocated to <%= current_user.fullname %></small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:file_no) %></th>
      <th>Name</th>
      <th>DOB</th>
      <th>Referred</th>
		  <% if current_user.account.practitioners.count > 1 %>
      	<th>Referred to</th>
      <% end %>
			<th>Status</th>
      <% if @list %>
				<th>Waiting since</th>
      <%2 end %>
      <th colspan=4><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @clients %>
  </tbody>
</table>

<%= will_paginate @clients %>
