<H1>Venue details</H1>
<table class="table">
	<tbody>
		<tr>
			<th width=20%>Name</th>
			<td><%= @venue.name %></td>
		</tr>
		<tr>
			<th>Address</th>
			<td><%= @venue.address %></td>
		</tr>
		<tr>
			<th>Postcode</th>
			<td><%= @venue.postcode %></td>
		</tr>
	</tbody>
</table>
  <div class="form-actions">
  <%= link_to 'Back to venue list', venues_path, :class => 'btn'  %>
	<%= link_to t('.edit', :default => t("helpers.links.edit")),
							edit_venue_path, :class => 'btn btn-primary' %>
	
</div>