<p id="notice"><%= notice %></p>

<p>
  <b>File no:</b>
  <%= @temporary_import.file_no %>
</p>

<p>
  <b>Forename:</b>
  <%= @temporary_import.forename %>
</p>

<p>
  <b>Surname:</b>
  <%= @temporary_import.surname %>
</p>

<p>
  <b>Dob:</b>
  <%= @temporary_import.dob %>
</p>

<p>
  <b>Phone:</b>
  <%= @temporary_import.phone %>
</p>

<p>
  <b>Address1:</b>
  <%= @temporary_import.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @temporary_import.address2 %>
</p>

<p>
  <b>Town:</b>
  <%= @temporary_import.town %>
</p>

<p>
  <b>Postcode:</b>
  <%= @temporary_import.postcode %>
</p>

<p>
  <b>Referred by:</b>
  <%= @temporary_import.referred_by %>
</p>

<p>
  <b>Dateref text:</b>
  <%= @temporary_import.dateref_text %>
</p>

<p>
  <b>Referred date:</b>
  <%= @temporary_import.referred_date %>
</p>

<p>
  <b>Ia counsellor:</b>
  <%= @temporary_import.ia_counsellor %>
</p>

<p>
  <b>Ia location:</b>
  <%= @temporary_import.ia_location %>
</p>

<p>
  <b>Ia date:</b>
  <%= @temporary_import.ia_date %>
</p>

<p>
  <b>Counsellor:</b>
  <%= @temporary_import.counsellor %>
</p>

<p>
  <b>Location:</b>
  <%= @temporary_import.location %>
</p>

<p>
  <b>Counselling start date:</b>
  <%= @temporary_import.counselling_start_date %>
</p>

<p>
  <b>Status:</b>
  <%= @temporary_import.status %>
</p>

<p>
  <b>Rogue address:</b>
  <%= @temporary_import.rogue_address %>
</p>


<%= link_to 'Edit', edit_temporary_import_path(@temporary_import) %> |
<%= link_to 'Back', temporary_imports_path %>
