<div id="<%= appointment.div_id %>"}>
  <%= sequencelabel(appointment) %>
  <%= link_to appointmentlabel(appointment), '#', :class => "dropdown-toggle", "data-toggle" => "dropdown"  %>
  <% unless appointment.appointment_status.nil? %>
    </br><small><%= appointment.appointment_status.description %></small>
  <% end %>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <% if appointment.id.nil? %>
      <li>
        <%= link_to "Confirm", book_appointments_path(
          allocation_id: appointment.allocation_id,
          appointment_date: appointment.appointment_date,
          appointment_time: appointment.appointment_time,
          slot_id: appointment.slot_id
        ), remote: true, method: :post %>
      </li>
      <li>
        <%= link_to "Free slot", '#' %>
      </li>
    <% else %>
      <li><%= link_to "Edit appointment", edit_appointment_path(appointment) %></li>
      <li class="divider"></li>

      <li class="dropdown-submenu">
        <a tabindex="-1" href="#">Update status</a>
        <ul class="dropdown-menu">
          <%= render partial: "appointmentstatuses", locals: { appt: appointment } %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>