<%= simple_form_for @appointment, :html => { :class => 'form-horizontal'} do |f| %>

  <div class="form-inputs">
    <%= f.input :slot_id, :as => :hidden %>
    <%= f.input :allocation_id, :as => :hidden %>
		<%= f.input :appointment_date, :input_html => { :class => "span2" } %>
		<%= f.input :appointment_time, :input_html => { :class => "span1" } %>
		
    <% unless @appointment.id.nil? %>
      <%= f.association :appointment_status, :as => :select, :collection => AppointmentStatus.all.map { |a| [ a.description, a.id ] }, :include_blank => true %>
      <%= f.input :outcome %>
			<%= f.input :urgent %>
    <% end %>



  </div>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), :back, :class => 'btn' %>
  </div>
<% end %>
