<p id="notice"><%= notice %></p>

<p>
  <b>Session:</b>
  <%= @activity.session_id %>
</p>

<p>
  <b>Tablename:</b>
  <%= @activity.tablename %>
</p>

<p>
  <b>Object:</b>
  <%= @activity.object_id %>
</p>

<p>
  <b>User:</b>
  <%= @activity.user %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
