<%= simple_form_for @trigger, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :allocation_type_id %>
  <%= f.input :trigger_type_id %>
  <%= f.input :object_id %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                triggers_path, :class => 'btn' %>
  </div>
<% end %>
