<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>User:</b>
  <%= @account.user %>
</p>

<p>
  <b>Logo:</b>
  <%= @account.logo %>
</p>

<p>
  <b>Bgcolor:</b>
  <%= @account.bgcolor %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
